.creator {
    font-size: 30px;

    h2 {
        margin: 0;
    }

    textarea {
        font-size: 30px;
        font-family: "Times New Roman";
        field-sizing: content;
        width: calc(100% - 20px);
        max-width: 99%;
        resize: none;
        margin: 10px;
        border: 2px solid lightblue;
        border-radius: 5px;
        transition: 0.3s;
        text-align: center;
    }

    div {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    textarea:hover {
        box-shadow: 0px 0px 10px 0px lightblue;
    }

    h1 {
        font-size: 40px;
    }
}

.coverImage {
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 12px;
    border-radius: 5px;
}

.draftSelector {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: #e7e6e6;
    transition: 1s;
    border-radius: 5px;
    margin: 10px;
    height: 70px;
}

.deleteDraft {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: #e7e6e6;
    transition: 1s;
    border-radius: 5px;
    margin: 10px;
    height: 70px;
    width: 70px;
}

.deleteDraft:hover,
.draftSelector:hover,
.addSectionButton:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 0px lightblue;
}

.titleContainer {
    font-size: 30px;

    textarea {
        font-size: 40px;
        min-height: 50px;
    }
}

.subTitleContainer {
    font-size: 20px;

    textarea {
        font-size: 30px;
        min-height: 60px;
    }
}

.bodyContainer {
    font-size: 15px;
    margin: 0;
    width: 100% !important;

    h1 {
        margin-bottom: 5px;
    }
}

.tagsContainer {
    font-size: 15px;

    textarea {
        font-size: 20px;
        min-height: 20px;
        margin-bottom: 0;
        width: 150px !important;
    }
}

.displayedTags {
    margin-top: 15px;
    margin-bottom: 15px;
}
.tags {
    padding: 5px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 3px;
}
.tags:hover {
    color: red;
}

.addSectionButton {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: #e7e6e6;
    transition: 1s;
    border-radius: 5px;
}

.addSectionSelection {
    margin-left: 5px;
    border-radius: 5px;
    border: 3px lightblue solid;
    font-size: 15px;
    height: 28px;
    cursor: pointer;
    background-color: white;
}

.paragraphAddButton {
    margin-left: 0;
}

.sectionSelectionLabel {
    font-size: 17px;
}

.publish {
    font-size: 40px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: #e7e6e6;
    transition: 1s;
    border-radius: 5px;
    margin: 10px;
    height: 90px;
    width: auto;
}
.publish:hover {
    box-shadow: 0px 0px 10px 0px lightblue;
    background-color: white;
}

.error {
    font-size: 20px;
}

.characterCounter {
    font-size: 15px;
    margin-top: -5px;
}

@keyframes shake {
    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
