.info {
    text-align: center;
    font-size: 30px;

    b {
        font-size: 40px;
    }
}

.applyButton {
    display: inline-block;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid lightblue;
    background-color: #e7e6e6;
    transition: 1s;
    border-radius: 5px;
    margin: 10px;
    margin-top: 0;
}

.applyButton:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 0px lightblue;
}
