.articleContainer {
    display: flex;
    justify-content: center;
}

.article {
    width: 1000px;
    height: 375px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 241px auto;
    gap: 0px 3px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 20px lightblue;
}

.image {
    grid-area: 1 / 1 / 3 / 2;
    width: 500px;
    height: 375px;
    border-radius: 20px 0 0 20px;
    transition: 1s;

}

.image:hover {
    transform: translateY(-10px);
}

.title {
    overflow-y: auto;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;

    span {
        display: block;
        transition: 1s;
    }
}

.title {
    span:hover {
        color: aqua;
        transform: translateY(-3px);
    }
}

.information {
    margin: 0;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 13px;

    .tags {
        padding: 5px;
        margin-left: 5px;
        border-style: solid;
        border: 5px 5px 5px 5px;
        border-radius: 3px;
    }

    .thumbsUp {
        color: green;
        cursor: pointer;
    }

    .thumbsDown {
        color: red;
        cursor: pointer;
    }

    .thumbsUp,
    .thumbsDown,
    .commentsIcon {
        font-size: 20px;
        margin-left: 10px;
    }

    .likes {
        margin-left: 10px;
    }

    .dislikes {
        margin-left: 20px;
    }

    .comments {
        margin-left: 17px;
    }

    .likes,
    .dislikes,
    .comments {
        font-size: 20px;
    }
}

// .title,
// .information {
//     border-left-style: dashed;
// }